#img-cover{
	width: 100%;
}

#title-header{
	text-align: center;
	margin-top: 20px;
}

#log-in-btn{
	margin-right: 20px;
}

.col-md-12{
	margin-top: 10px;
}

.footer-copyright{
	margin-top: -70px;
}

h1{
	font-size: 100px;
	position: absolute;
	top:400px;
}

h2{
	font-size: 70px;
}

#sign-up-btn{
	color: white;
	text-decoration: none;
}



.block2-container{
	position: relative;
}

#block2{
	width: 100%; 
}

/* center text */
.text-block {
  position: absolute;
  bottom: 320px;
  right: 39%;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

h2{
	padding: 30px;
	text-align: center;
}

.album{
	text-align: center;
	font-family: Monaco;
	font-weight: bold;
}

.side-bar{
	height: 750px;
	width:300px;
	background-color:#f8f9fa;
	float: left;
}

.side-bar p {
	padding-top: 75px;
	padding-right: 30px;
	text-align: center;
	font-family: Monaco;
	font-weight: bold;
}

.discussion-meat{
	width: 1400px;
	height: 600px;
	background-color: #D3D3D3;
}

.discussion-meat img{
	padding-top: 30px;
	width: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto
}


.sign-up-box{
	margin-top: 60px;
	width: 450px;
	border-style: solid;

}

.container{
}

h3{
	font-family: Monaco;
	text-align: center;
	padding-top: 20px;
}
}


h3{
	font-family: Monaco;
	text-align: center;
	padding-top: 20px;
}

.hv-an-acct{
	margin-top: 15px;
	font-size: 13px;
}

h3{
	margin-top: 30px;
	margin-bottom: 40px;
}

label{
	font-size: 13px;
	font-weight: bold;
}

.form-control{
	width: 100%;
}

/*div .container {
	display: flex;
  justify-content: center;
}*/

.email{
	margin-top: 40px;
}

small{
	margin-bottom: 40px;
}

.submit{
	margin-top: 40px;
}



