#img-cover{
	width: 100%;
}

#title-header{
	text-align: center;
	margin-top: 20px;
}

#log-in-btn{
	margin-right: 20px;
}

.col-md-12{
	margin-top: 10px;
}

.footer-copyright{
	margin-top: -70px;
}

h1{
	font-size: 100px;
	position: absolute;
	top:400px;
}

h2{
	font-size: 70px;
}

#sign-up-btn{
	color: white;
	text-decoration: none;
}



.block2-container{
	position: relative;
}

#block2{
	width: 100%; 
}

/* center text */
.text-block {
  position: absolute;
  bottom: 320px;
  right: 39%;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}