@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* index styles */
body{
	font-family: 'Merriweather', serif !important;
}

.img-cover{
	width: 100%;
}

.title-header{
	text-align: center;
	margin-top: 20px;
	font-size: 100px;
	position: absolute;
	top:400px;
}

#log-in-btn{
	margin-right: 20px;
}

.footer-copyright{
	margin-top: -70px;
}

#sign-up-btn{
	color: white;
	text-decoration: none;
}

/* features block */
#features-block{
	height: 400px;
	background-color: #D8DDEF;
	position: relative
}

.centered-titles{
	padding-top: 40px;
	text-align: center;
	font-size: 30px;
}

#features-grid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
	
}

.feature-img{
	width: 300px;
	margin-top: 80px;
}

.grid-item{
	padding: 10px;
    font-size: 20px;
	margin-left:80px;
	margin-right: 80px;
}
/* calendar Block */
#blur{
	height: 450px;
	background-image: url("media/may.jpg");
	opacity: 0.65;
	position: relative;
}
#z-book-container{
	position: relative ;
	margin-top: -140px
}
#z-book{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 350px;
	box-shadow: 0 21px 21px rgb(0 0 0 / 50%);
}
#cal-list-padding{
	height: 320px;
}
#cal-list-container{
	height: 400px;
}

#book-of-the-month{
	padding-top: 70px;
	padding-bottom: 15px;
	text-align: center;
	background-color:#D8DDEF ;
	margin-bottom: 0;
	font-size: 30px;
}

#book-list{
	display: flex;
    justify-content: center;
}

.book-list-item img{ 
	width: 200px;
	margin: 40px 30px 0px 30px;
	box-shadow: 0 21px 21px rgb(0 0 0 / 50%);
}

.book-list-item img:hover{ 
	animation-name: book;
	margin: 40px 30px 0px 30px;
	box-shadow: 0 21px 21px rgb(0 0 0 / 50%);
	animation-duration: 1s;
}


@keyframes book {
	0%{width: 200px;}
	100%{width: 250px;}
  }

footer{
	margin-top: 150px;
}
/* index styles end */


/* sign up + login styles*/
.sign-up-box{
	margin-top: 60px;
	width: 450px;
	border-style: solid;

}

.hv-an-acct{
	margin-top: 15px;
	font-size: 13px;
}

#join-the-rev-h3, #login-h3{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

label{
	font-size: 13px;
	font-weight: bold;
}

.form-control{
	width: 100%;
}

.email{
	margin-top: 40px;
}

small{
	margin-bottom: 40px;
}

.submit{
	margin-top: 40px;
}

.forgot-pw{
	margin-top: 15px;
	font-size: 13px;
	margin-bottom: 30px;
}

#blue{
	color: #341dff;
}

/* sign up + login styles end */


/* about us styles */
.about-us-title{
	margin-top: -300px;
}

.about-us-title-header{
	text-align: center;
	font-size: 60px;
	position: absolute;
	top:150px;
	padding-left: 140px;
}

#bigger-container{
	height: 880px;
	background-color: #D8DDEF;
	margin-top: 100px;

}

#meet-the-team-grid{
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	padding-top: 50px;
	padding-right: 350px;
	padding-left: 350px;

}

.team-grid-item img{
	width: 100px;
	height: 100px;
	border-radius: 60px;
}

.team-grid-item{
	padding-left: 60px;
	padding-bottom: 50px;
}
/* about us styles end*/

/* media queries  */

@media all and (min-width: 200px) and (max-width: 500px) { 
	.title-header{
	display: none;
	}

	#features-block{
		height: 1200px;
		background-color: #D8DDEF;
		position: relative
	}
	
	#features-grid{
		display: inline-grid;
		grid-template-columns: auto;
		margin-bottom: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#cal-list-container{
		height: 1800px;
	}

	#book-list{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	/* about us styles */
	.about-us-title{
		margin-top: 0px;
	}

	#bigger-container{
		height: 1150px;
		background-color: #D8DDEF;
		margin-top: 100px;

	}
	#meet-the-team-grid{
		display: grid;
		grid-template-columns: auto auto;
		justify-items: center;
		padding-top: 50px;
		padding-right: 0px;
		padding-left: 0px;

	}

	.team-grid-item img{
		width: 100px;
		height: 100px;
		border-radius: 60px;
	}

	.team-grid-item{
		padding-left: 60px;
		padding-bottom: 50px;
	}
/* about us styles end*/

	}

@media all and (min-width: 501px) and (max-width: 1300px) { 
	.title-header{
	display: none;
	}
	#features-block{
		height: 1200px;
		background-color: #D8DDEF;
		position: relative
	}
	
	#features-grid{
		display: inline-grid;
		grid-template-columns: auto;
		margin-bottom: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
		
	}

	#cal-list-container{
		height: 1800px;
	}

	#book-list{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
		/* about us styles */
		.about-us-title{
			margin-top: -100px;
		}
	
		.about-us-title-header{
			text-align: center;
			font-size: 60px;
			position: absolute;
			top:150px;
			padding-left: 140px;
		}
	
		#bigger-container{
			height: 1100px;
			background-color: #D8DDEF;
			margin-top: 100px;
	
		}
		#meet-the-team-grid{
			display: grid;
			grid-template-columns: auto auto;
			justify-items: center;
			padding-top: 0px;
			padding-right: 0px;
			padding-left: 0px;
	
		}
	
		.team-grid-item img{
			width: 100px;
			height: 100px;
			border-radius: 60px;
		}
	
		.team-grid-item{
			padding-left: 60px;
			padding-bottom: 50px;
		}
	/* about us styles end*/

}


